<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="305842419877-48clbp6kkv5le6c1tamdnt6vk667jlig.apps.googleusercontent.com.apps.googleusercontent.com">
    <title>@ViewData["Title"] - Pmat_PI</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/dist/css/font-awesome.min.css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/cut_logo2.png" width="35" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="btn-group">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index"> Utilizadores </a>
                                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index">Listar Utilizadores</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Criar Funções</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Competicoes" asp-action=""> Competições </a>
                                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Competicoes" asp-action="Create"> Criar Competição</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Competicoes" asp-action="Index"> Listar Competições</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Competicoes" asp-action="InscreverEscolas"> Inscrever escolas em Competições</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Provas" asp-action="Index"> Provas </a>
                                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Provas" asp-action="Create"> Criar Prova</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Provas" asp-action="Index"> Listar Provas</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Treinos" asp-action="Index"> Treinos </a>
                                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Treinos" asp-action="Create"> Criar Treino</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Treinos" asp-action="Index"> Listar Treinos</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Escolas" asp-action="Index"> Escolas </a>
                                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Escolas" asp-action="Create"> Criar Escola</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Escolas" asp-action="Index"> Listar Escolas</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AssociarProfs" asp-action="Create"> Associar Professor-Escola</a>
                                    <a class="dropdown-item disabled" asp-area="" asp-controller="Escolas" asp-action="Mapa"> Ver Mapa DGEST</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Email" asp-action="SendEmail">Envio Emails</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="http://pmate.ua.pt/ModelMaker" target="_blank">Modelos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://pmate.ua.pt/oficial/" target="_blank" />Website</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - PmatE 
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
