@model Pmat_PI.Models.Competicao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Competicao</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <dl class="row">
        <dt>
            <a asp-action="Index" class="btn btn-outline-primary"> Voltar à lista de escolas </a>
        </dt>
    </dl>
</div>

