@{
    ViewData["Title"] = "Acesso Negado";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pmat_PI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/dist/css/font-awesome.min.css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body>
    <div class="container" style=" text-align: center; padding-top: 5%;">
        <h1>Não tem permissões de acesso a este website.</h1>
        <h3>Se é um adminstrador, contacte o seu superior para lhe conceder as devidas permissões de acesso.</h3>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <div style="padding-top: 2%;margin:auto">
                <button type="submit" class="btn btn-danger text-light">Logout</button>
            </div>
        </form>
    </div>
</body>
</html>
