@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Verificação do código de recuperação";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Você pediu para entrar com código de recuperação. Este login não será guardado até que você forneça um código de autênticador da aplicação ou desative autênticação 2-factor e entre novamente.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RecoveryCode">Código de recuperação</label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
