@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de alteração de password";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua password foi alterada. Por favor, <a asp-page="./Login">clique aqui para entrar novamente</a>.
</p>
