@model Pmat_PI.Models.Prova

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Prova</h1>
<hr />
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input disabled asp-for="IdAuthor" class="form-control" type="hidden" value=@ViewData["logged_id"] />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="NomeProva" class="control-label">Nome da prova</label>
                    <input asp-for="NomeProva" class="form-control" />
                    <span asp-validation-for="NomeProva" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="DataCriacao" class="control-label">Data de Criação</label>
                    <input asp-for="DataCriacao" class="form-control" />
                    <span asp-validation-for="DataCriacao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="IdCompeticao" class="control-label">Competição</label>
                    <select asp-for="IdCompeticao" class="form-control" asp-items="ViewBag.IdCompeticao"></select>
                    <span asp-validation-for="IdCompeticao" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Calculadora" class="control-label">Calculadora </label>
                    <select asp-for="Calculadora" class="form-control">
                        <option value="True"> Sim </option>
                        <option value="False"> Não </option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="TempoTotalJogo" class="control-label">Tempo Total de jogo (mins)</label>
                    <input asp-for="TempoTotalJogo" class="form-control" />
                    <span asp-validation-for="TempoTotalJogo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Estilo" class="control-label"></label>
                    <input asp-for="Estilo" class="form-control" />
                    <span asp-validation-for="Estilo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="RefIdCicloEnsino" class="control-label">Ciclo de Ensino</label>
                    <select asp-for="RefIdCicloEnsino" class="form-control" asp-items="ViewBag.RefIdCicloEnsino"></select>
                    <span asp-validation-for="RefIdCicloEnsino" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="MaxEscolas" class="control-label">Nº máximo de escolas inscritas</label>
                    <input asp-for="MaxEscolas" class="form-control" />
                    <span asp-validation-for="MaxEscolas" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="MaxTentJogo" class="control-label">Nº de tentativas por jogo</label>
                    <input asp-for="MaxTentJogo" class="form-control" />
                    <span asp-validation-for="MaxTentJogo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="NumElemsEquipa" class="control-label">Nº de elementos por equipa</label>
                    <input asp-for="NumElemsEquipa" class="form-control" />
                    <span asp-validation-for="NumElemsEquipa" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="VidasPorNivel" class="control-label">Nº de vidas por nível</label>
                    <input asp-for="VidasPorNivel" class="form-control" />
                    <span asp-validation-for="VidasPorNivel" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="NumNiveis" class="control-label">Nº de níveis</label>
                    <input asp-for="NumNiveis" class="form-control" />
                    <span asp-validation-for="NumNiveis" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Url" class="control-label">URL</label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Plataforma" class="control-label"></label>
                    <div class="form-row">
                        <div class="form-group  col-lg-9">
                            <input asp-for="Plataforma" class="form-control" />
                            <span asp-validation-for="Plataforma" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check col-lg-3" style="text-align: center">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="TreinoVisivel" /> Prova Visível
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="InicioInscricaoEquipas" class="control-label">Data de Início das Inscrições</label>
                    <input asp-for="InicioInscricaoEquipas" class="form-control" />
                    <span asp-validation-for="InicioInscricaoEquipas" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="FimInscricaoEquipas" class="control-label">Data de Fim das Inscrições</label>
                    <input asp-for="FimInscricaoEquipas" class="form-control" />
                    <span asp-validation-for="FimInscricaoEquipas" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="DataProva" class="control-label">Data Início da Prova</label>
                    <input asp-for="DataProva" class="form-control" />
                    <span asp-validation-for="DataProva" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="FimProva" class="control-label">Data Fim da Prova</label>
                    <input asp-for="FimProva" class="form-control" />
                    <span asp-validation-for="FimProva" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataInscFinal" class="control-label">Data Inscrição Final(????)</label>
                <input asp-for="DataInscFinal" class="form-control" />
                <span asp-validation-for="DataInscFinal" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Criar Prova" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-primary">Voltar à lista de provas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
